<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/public/styles/global.css" rel="stylesheet">
    <link href="/public/styles/topbar.css" rel="stylesheet">
    <link href="/public/styles/home.css" rel="stylesheet">
    <link href="/public/styles/ads.css" rel="stylesheet">
    <link href="/public/images/favicon.svg" rel="icon" type="image/svg+xml">
    <title>ROBLOX.com</title>
</head>
<body>
    <div id="topbar">
        <% if (!session.authenticated) { %>
            <a href="/">
                <img src="/public/images/logo-full.png" alt="Roblox 2015 Clone" id="topbar-logo">
            </a>
        <% } %>
        <a href="/games">Games</a>
        <a href="/catalog">Catalog</a>
        <a href="/develop">Develop</a>
        <a href="/robux">ROBUX</a>
        <input id="search-bar" type="text" placeholder="Search">
        <div id="topbar-right">
            <% if (!session.authenticated) { %>
                <a href="/">Sign Up</a>
                <a href="/">Log In</a>
            <% } else { %>
                <a href="/robux" id="topbar-robux"><%= session.user.robux %></a>
                <a href="/develop" id="topbar-tickets"><%= session.user.tickets %></a>
                <img src="/public/images/settings-icon.png" id="topbar-settings">
            <% } %>
        </div>
    </div>
    <div id="sidebar"></div>
    <div id="ad-container-left">
        <img class="ad-skyscraper" src="https://images.rbxcdn.com/b52c03d7260a8d693e6fc4e4fa16febd-AdSkyscraperTemplate.png">
    </div>
    <div id="ad-container-right">
        <img class="ad-skyscraper" src="https://images.rbxcdn.com/b52c03d7260a8d693e6fc4e4fa16febd-AdSkyscraperTemplate.png">
    </div>
    <div id="content">
        <div id="greeting-div">
            <a href="/users/<%=session.user.id%>/profile">
                <img id="user-headshot" src=<%=session.user.avatarCdn%>>
            </a>
            <h1 id="greeting">Hello, <%=session.user.username%>!</h1>
        </div>
        <div id="friends-container"></div>
        <div id="games"></div>
    </div>
</body>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        //$("#topbar").load("/public/components/topbar.ejs")
    </script>
</html>